.table-container {
    margin: 20px;
    padding: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 14px;
  }
  
  .table th,
  .table td {
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f4f4f4;
    border-bottom: 2px solid #ddd;
  }
  
  .table td {
    border-bottom: 1px solid #ddd;
  }
  